/*Estilo padrão inicial */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/*Estilo do background */
body{
    background-image: url(fundo2.jpeg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
/* Estilos do Titulo e menu de navegação*/
h2 {
    color: #fff;
    font-size: 40px;
    padding: 35px 35px;
    letter-spacing: 2px;
}
nav ul {
    text-align: center;    
}

nav ul li {
    display:inline-block;
    font-size: 1.5rem;
    list-style:none;
    padding: 45px 45px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight:bold;
}
/*Efeito do mouse */
nav ul li a:hover {
    color:aqua;
    transform: scale(1.2);
}
/*Estilos das seções */
section {
    padding: 35px;
    max-width: 800px;
    margin: 45px auto;
    text-align: justify;
}
section h1 {
    margin-bottom: 20px;
    color: #fff;
    
}
/*Estilos para seção portifólio e links externos */
section p {
    color: #fff;
    font-size: 20px;
}

.links {
    padding: 25px;
    list-style: none;
    display: inline-block;
}

.links li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

/* Estilo para o formulário */
form label {
    margin-bottom: 8px;
    color: #fff
}

/* Estilo para os campos de entrada */
form input, form text area {
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 8px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
}

/* Efeito ao passar o mouse */
form button:hover {
    background: aqua;
}